<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songwall Updates</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <header>
        <div class="container">
        <a href="/"><h1>Songwall Info / Blog</h1></a>
    </div>
    </header>

    <main>
        <section class="blog-container">
            <h2>Development Updates</h2>

            <div class="blog-post">
                <h3>V. 1.0 - Initial Release</h3>
                <p class="timestamp">Posted on: Febuary 6, 2025</p>
                <p>The first version of the app is now live! This version is a very rough around the edges and in development prototype. I designed it to have searching, rating, posting, and viewing functionality. Users can search for songs using the spotify api integration, rate these songs which will add it to the recent ratings feed as well as followers feeds, and then post about these songs optionally. The next version of this app will include some big updates that will integrate ML for recommendations as well as further spotify api use. This app provides its base functionality and is neat (for now...), it will soon have the very cool features. - Cody R</p>
            </div>

            <!-- Will be adding future blog posts here with time stamp entries !! only adding on significant pushes -->
        </section>
    </main>

</body>
</html>
