<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>Songwall Dashboard</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>{{current_user.first_name}}'s SongWall</h1>
            <nav>
                <a href="/search">Search</a>
                <a href="/profile">Profile</a>
            </nav>
        </div>
    </header>
<main>

    <section class="display-songs">
        <h2>Recent Ratings </h2>
        <div class="song-carousel">
            <div class="song-list" id="top-rated-list">
                {% for song in recent_ratings %}
                <div class="song">
                    <a href="{{ song.spotify_url }}" target="_blank"><img src="{{ song.album_image }}" alt="Album Art for {{ song.track_name }}"> </a>
                    <h3>{{ song.track_name }}</h3>
                    <p>{{ song.artist_name }}</p>
                    <p>{{ song.username }}</p>
                    <p>{{song.rating }}/10</p>
                    <p>{{ song.time_stamp }}</p>
                </div>
                {% endfor %}
            </div>                      
        </div>
    </section>




</main>
<footer>
    <p>by Cody A. Rabie</p>
</footer>
</body>
</html>