<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Songwall, music sharing, song ratings, music community, discover music">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.songwall.org/">
    <meta name="description" content="Explore, rate, and share your favorite songs on Songwall. Join our community to discover new music and connect with fellow enthusiasts.">
    <title>Songwall</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
</head>
<body>
    <header id="header">
        <div class="container">
            <a href="/"><h1>Songwall</h1></a>
            <nav>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>Welcome to Songwall</h2>
            <p>Explore, rate, post about, and share your favorite songs on your song wall. Login or Register to get started. </p>
        </section>

        <section class="display-songs">
            <h2>Recently Rated</h2>
            <div class="song-carousel">
                {% if not recent_songs %}
                <p>No recently rated songs.</p>
                {% else %}
                <div class="song-list" id="top-rated-list">
                    {% for song in recent_songs %}
                    <div class="song2">
                        <a href="{{ song.spotify_url }}" target="_blank"><img src="{{ song.album_image }}" alt="Album Art for {{ song.track_name }}"></a>
                        <h3> <a href="{{url_for('view_song', song_id = song.id)}}">{{ song.track_name }}</a></h3>
                        <p>{{ song.artist_name }}</p>
                        <p> {{song.album_name }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>

        <section class="display-songs">
            <h2>Top Rated </h2>
            <div class="song-carousel">
                {% if not top_rated_songs %}
                <p>No top rated songs.</p>
                {% else %}
                <div class="song-list" id="top-rated-list">
                    {% for song in top_rated_songs %}
                    <div class="song2">
                        <a href="{{ song.spotify_url }}" target="_blank"><img src="{{ song.album_image }}" alt="Album Art for {{ song.track_name }}"></a>
                        <h3> <a href="{{url_for('view_song', song_id = song.id)}}">{{ song.track_name }}</a></h3>
                        <p>{{ song.artist_name }}</p>
                        <p>{{song.album_name }}</p>
                        <p>⭐ {{ song.avg_rating|round(1) }}/10  ({{ song.rating_count }} rates)</p>  
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
        




    </main>

        <a href="/blog"><p>&copy; 2025 Songwall. All rights reserved. </p> </a>
</body>
</html>
