<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>Songwall</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <h1>Songwall</h1>
            <nav>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>Welcome to Songwall</h2>
            <p>Explore and discover the most popular songs right now!</p>
        </section>

        <section class="display-songs">
            <h2>Popular Songs</h2>
            <div class="song-carousel">
                <div class="song-list" id="top-rated-list">
                    {% for song in pop_songs %}
                    <div class="song">
                        <a href="{{ song.spotify_url }}" target="_blank"><img src="{{ song.album_image }}" alt="Album Art for {{ song.track_name }}"></a>
                        <h3>{{ song.track_name }}</h3>
                        <p>{{ song.artist_name }}</p>
                        <p>⭐ {{ song.avg_rating|round(1) }}/10  ({{ song.rating_count }} ratings)</p>  
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="display-songs">
            <h2>Top Rated Songs</h2>
            <div class="song-carousel">
                <div class="song-list" id="top-rated-list">
                    {% for song in top_rated_songs %}
                    <div class="song">
                        <a href="{{ song.spotify_url }}" target="_blank"><img src="{{ song.album_image }}" alt="Album Art for {{ song.track_name }}"></a>
                        <h3>{{ song.track_name }}</h3>
                        <p>{{ song.artist_name }}</p>
                        <p>⭐ {{ song.avg_rating|round(1) }}/10  ({{ song.rating_count }} ratings)</p>  
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        




    </main>

    <footer>
        <p>by Cody A. Rabie</p>
    </footer>

    <script>
    </script>
</body>
</html>
