<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>{{ current_user.username }}'s Profile</title>
</head>
<body style="--theme-color: {{ current_user.theme_color or '#333' }};">
    <header>
        <div class="container">
            <a href="/dashboard"><h1>{{ current_user.username }}'s Profile</h1></a>
            <nav>
                <a href="/dashboard">Back</a>
                <a href="/settings">Settings</a>
            </nav>
        </div>
    </header>
    <div class="profile-container">
       <p class="profile"> {{current_user.bio}} </p>
       <p class="profile">Average: <strong>{{avg_ratings}}/10, </strong>  Rated: <strong>{{ratings_ct}}</strong></p>
       <p class="profile"><a href="{{url_for('view_posts', username = current_user.username)}}">{{current_user.first_name}}'s Posts</a></p>
    </div>
    <div class="profile-container">
        <div class="ratings-wrapper">
            <h4>{{current_user.first_name}}'s Top Songs</h4>
            <div class="ratings-container">
                {% if not ratings %}
                <p>{{ current_user.username }} has not rated any songs.</p>
                {% else %}
                {% for rating in ratings %}
                    <div class="rating-item">
                        <a href="{{ rating.song.spotify_url }}" target="_blank"> <img src="{{ rating.song.album_image }}" alt="Album Art"></a> 
                        <div class="rating-info">
                          <h3><a class="black" href="{{url_for('view_song', song_id = rating.song.id)}}">{{ rating.song.track_name }} - {{rating.song.artist_name }}</a></h3>
                            <p>{{rating.song.album_name}}</p>
                            <p>{{rating.song.release_date[:4]}}</p>
                            <p>Rating:  <strong>{{ rating.rating }}/10 </strong></p>
                            {% if rating.comment %}
                                <p>Comment: "{{ rating.comment }}"</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="profile-container">
        <div class="ratings-wrapper">
            <h4>{{current_user.first_name}}'s Ratings</h4>
            <div class="ratings-container">
                {% if not recent_ratings %}
                <p>{{ current_user.username }} has not rated any songs.</p>
                {% else %}
                {% for rating in recent_ratings %}
                    <div class="rating-item">
                        <a href="{{ rating.song.spotify_url }}" target="_blank"> <img src="{{ rating.song.album_image }}" alt="Album Art"></a> 
                        <div class="rating-info">
                          <h3><a class="black" href="{{url_for('view_song', song_id = rating.song.id)}}">{{ rating.song.track_name }} - {{rating.song.artist_name }}</a></h3>
                            <p>{{rating.song.album_name}}</p>
                            <p>{{rating.song.release_date[:4]}}</p>
                            <p>Rating:  <strong>{{ rating.rating }}/10 </strong></p>
                            {% if rating.comment %}
                                <p>Comment: "{{ rating.comment }}"</p>
                            {% endif %}
                            <p><strong>{{ rating.time_stamp.strftime('%Y-%m-%d') }}</strong></p>

                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
