<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>Songwall Search</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/dashboard"><h1>Songwall Search</h1></a>
            <nav>
            <a href="/dashboard">Back</a>
        </nav>
        </div>
    </header>

    <main>
        <h2>Search Songs</h2>
        <!-- Search Bar -->
        <section class="search-bar">
            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="search_query" placeholder="Search for a song..." required>
                <button type="submit">Search</button>
            </form>
        </section>
        <br>
        <!-- Display Search Results -->
        <section class="display-songs">
            <div class="song-carousel">
                {% if not songs %}
                <p>No songs found. Try a search!</p>
                {% else %}
                <div class="song-list" id="top-rated-list">
                    {% for song in songs %}
                <div class="song2">
                    <a href="{{ url_for('rate', spotify_id=song['spotify_id']) }}"><img src="{{ song.album_image_url }}" alt="Album Art for {{ song.name }}"></a>
                    <h3> <a href="{{url_for('search_view_song', spotify_id = song.spotify_id)}}">{{  song['name'] }}</a></h3>
                    <p> {{ song.artist }}</p>
                    <p> {{ song.album_name }}</p> <br>
                    <a href="{{ song.spotify_url }}" class="btn btn-success spotify-btn" target="_blank">Spotify</a>
                </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>

        <h2>Find Friends</h2>
        <section class="friend-search">
            <form action="{{ url_for('search_friends') }}" method="POST">
                <input type="text" name="username" placeholder="Enter a username" required>
                <button type="submit">Search</button>
            </form>
        </section>

                    <!-- Flash Messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for category, message in messages %}
                                <div class="flash {{ category }}">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                   {% endwith %}
    </main>

</body>
</html>
