<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>Songwall Search</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Songwall Search</h1>
            <nav>
            <a href="/dashboard">Back</a>
        </nav>
        </div>
    </header>

    <main>
        <!-- Search Bar -->
        <section class="search-bar">
            <form action="{{ url_for('search') }}" method="POST">
                <input type="text" name="search_query" placeholder="Search for a song..." required>
                <button type="submit">Search</button>
            </form>
        </section>

        <!-- Display Search Results -->
        {% if songs %}
        <section class="search-results">
            <h2>Search Results</h2>
            <div class="song-carousel-default">
                <div class="song-list-default" id="song-list-default">
                    {% for song in songs %}
                <div class="song2" style="border: 1px solid black; padding: 10px; margin: 10px;">
                    <a href="{{ url_for('rate', spotify_id=song['spotify_id']) }}"><img src="{{ song.album_image_url }}" alt="Album Art for {{ song.name }}" style="width: 100px; height: 100px;"></a>
                    <h3> <a href="{{url_for('search_view_song', spotify_id = song.spotify_id)}}">{{  song['name'] }}</a></h3>
                    <p><strong>Artist:</strong> {{ song.artist }}</p>
                    <p><strong>Album:</strong> {{ song.album_name }}</p> 
                    <a href="{{ song.spotify_url }}" class="btn btn-success spotify-btn" target="_blank">Spotify</a>
                </div>

                    {% endfor %}
                </div>
            </div>
        </section>
        {% else %}
        <p>No songs found. Try a search!</p>
        {% endif %}
    </main>

</body>
</html>
