<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>Songwall is Down</title>
</head>
<body>
    <h1>Oops! Something went wrong...</h1>
    <p>The Songwall service is currently unavailable. Please try again later.</p>
    <a href="/">Go back to homepage</a>

<a href="/blog"><p>&copy; 2025 Songwall. All rights reserved. </p> </a>
</body>
</html>
