<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.ico" sizes="32x32">
    <title>{{userinfo.username}}'s Posts</title>
</head>
<body style="--theme-color: {{ userinfo.theme_color or '#333' }};">
    <header>
        <div class="container">
            <h1> {{userinfo.username}}'s Posts </h1> 
        <nav>
            <a href="{{url_for('view_profile', username=userinfo.username)}}">Back</a>
        </nav>
        </div>
    </header>

    <section class="display-posts">
        <div id="posts-container">
            {% for post in posts_info %}
            <div class="post">
                <div class="post-left">
                    <a href="{{ url_for('view_profile', username=post.user.username) }}">{{ post.user.username }}</a>
                    <p class="post-song"><a href="{{ url_for('view_song',song_id = post.song.id )}}">🎵 {{ post.song.track_name }} - {{ post.song.artist_name }}</a></p>
                </div>
                <div class="post-right">
                    <p class="post-message">{{ post.post_message }}</p>
                    <p class="timestamp">{{ post.time_stamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button id="load-more" data-offset="10">Load More</button>
    </section>

    <script src="{{url_for('static', filename='js/loadmore.js')}}"></script>
    
    
    
    
</body>
</html>